*{
  box-sizing: border-box;
}

body {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.own-container {
    display: table-cell;
   vertical-align: middle;
    background-image: url("../img/clear-underwater-water-260551.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: lighten;
}

h2{
    color: blue;
    font-size: 3rem;
    animation-name: moving;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moving {
    0% {text-align: left;}
    50% {text-align: center;}
    100% {text-align: right;}
}
